.container {
  width: 80vw;
  height: 250px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0px 5px 20px -8px var(--dark-grayish-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container:not(.search-bar):hover {
  border-left: 3px solid var(--desaturated-dark-cyan);
}

.content {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.job__logo {
  position: absolute;
  transform: translateY(-100%);
}

.job__logo img {
  width: 80%;
}

.job__description__firstline {
  color: var(--desaturated-dark-cyan);
  font-weight: var(--font-heavy);
}

.job__description__firstline-tags {
  display: inline-flex;
  justify-content: space-between;
  width: 160px;
  margin-left: 10px;
}

.job__description__firstline-tags div {
  padding: 5px 10px;
  background-color: var(--desaturated-dark-cyan);
  border-radius: 20px;
  color: white;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  font-weight: var(--font-heavy);
}

.job__description__firstline-tags :nth-child(2) {
  background-color: var(--very-dark-grayish-cyan);
}

.job__description__secondline {
  text-decoration: none;
  font-size: 1.02rem;
  color: black;
  font-weight: var(--font-heavy);
}

.job__description__secondline:hover {
  color: var(--desaturated-dark-cyan);
}
.job__description {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  justify-content: space-around;
  height: 80px;
  padding-bottom: 20px;
}

.job__description__thirdline ul {
  width: 260px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--dark-grayish-cyan);
}

.job__description__thirdline li:first-child {
  list-style: none;
}

.job__right-panel {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
  border-top: var(--dark-grayish-cyan) 2px solid;
}

.job__right-panel > * {
  cursor: pointer;
}

@media screen and (min-width: 870px) {
  .job__container {
    flex-direction: row;
    height: 180px;
    font-size: 1rem;
  }

  .job__logo {
    flex-basis: 20%;
    display: block;
    position: inherit;
    transform: none;
  }

  .content {
    flex-direction: row;
    justify-content: space-between;
  }

  .left-panel {
    width: 50%;
  }

  .job__description {
    padding-bottom: 0;
    height: auto;
  }

  .job__description__secondline {
    font-size: 1.2rem;
  }

  .job__right-panel {
    padding-top: 0;
    border-top: none;
    justify-content: space-between;
  }
}
